/*
 * markdown样式
 */
.md-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 28px;
}
.md-text h1 {
  width: 100%;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
}
.md-text blockquote {
  max-width: 100%;
  margin: 0;
  margin-left: 15px;
  border-left: 6px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
}
.md-text blockquote p {
  margin: 0;
}
.md-text p {
  width: 100%;
  line-height: 1.3;
  margin: 0 0 14px 0;
}
.md-text a,
.md-text a:link,
.md-text a:hover,
.md-text a:visited {
  text-decoration: none;
  color: #357ebd;
}
.md-text a:hover {
  color: #3194d0;
}
.md-text hr {
  width: 100%;
}
.md-text img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.md-text .image-caption {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.md-text pre {
  width: 100%;
  word-wrap: normal;
  word-break: break-all;
  white-space: pre-wrap;
  /*overflow-x: scroll; */
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 20px;
}
.md-text pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.md-text pre code.hljs {
  background: rgba(0, 0, 0, 0.6);
}
.md-text ol,
.md-text ul {
  margin: 0;
}
